// Color system

$white: #FFFFFF;
$gray-100: mix(#EAE2B7, #fff, 15%);
$gray-200: mix(#EAE2B7, #fff, 30%);
$gray-300: mix(#EAE2B7, #fff, 75%);
$gray-400: #EAE2B7;
$gray-500: mix(desaturate(#EAE2B7, 15%), #000, 90%);
$gray-600: mix(desaturate(#EAE2B7, 30%), #000, 75%);
$gray-700: mix(desaturate(#EAE2B7, 45%), #000, 50%);
$gray-800: mix(desaturate(#EAE2B7, 65%), #000, 25%);
$gray-900: mix(desaturate(#EAE2B7, 85%), #000, 10%);
$black: #000000;

$blue: #0d6efd !default;
$red: #D62828;
$orange: #fd7e14 !default;
$yellow: #FCBF49;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$color-facebook-blue: #3b5998;
$color-twitter-blue: #1da1f2;
$color-whatsapp-green: #25d366;
$color-gmail-red: #ea4335;

$primary:       $yellow;
$secondary:     $gray-400;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "facebook":   $color-facebook-blue,
  "twitter":    $color-twitter-blue,
  "whatsapp":   $color-whatsapp-green,
  "gmail":      $color-gmail-red,
);

// Options

$enable-shadows: true;
$enable-negative-margins: true;

// Gradient

// Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 8
);

// Position

// Body

$body-color: $black; // rather than $gray-900

// Utilities maps

// Links

$link-color: $blue; // rather than $primary

// Paragraphs

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Grid columns

// Container padding

// Components

$border-color: $gray-500;

// Typography

$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-sm,
  8: $font-size-base * 0.75,
  9: $font-size-base * 0.66,
  10: $font-size-base * 0.5
);

$headings-margin-bottom: $spacer;
$headings-font-weight: 800;
$headings-line-height: 1.1;

$display-font-weight: 800;

$lead-font-weight: 500;

$text-muted: $gray-700;

$legend-font-size: 1rem;

$mark-padding: 0;
$mark-bg: #fff55a;

// Tables

// Buttons + Forms

// Buttons

$btn-font-weight: bold;

// Forms

$form-label-font-weight: bold;

$input-disabled-bg: desaturate($gray-200, 50%);
$input-disabled-border-color: desaturate($border-color, 25%);

$input-border-color: $gray-600;

$input-focus-border-color: $primary;

// Form validation

// Z-index master list

// Navs

// Navbar

$navbar-padding-y: $spacer;

$navbar-nav-link-padding-x: $spacer * 0.75;

// Dropdowns

// Pagination

// Placeholders

// Cards

// Accordion

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

$modal-title-line-height: 1;

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Offcanvas

// Code
