<div class="mb-5 p-4 p-md-5 border rounded shadow-lg">
    <!-- TODO: Customise the current/next step based on member_count etc -->
    <h2 class="h4 mb-3 mw-40rem">Recruit at least one more team member from your neighbourhood</h2>

    <p class="mw-40rem">It takes two to tango! Remember, team members should live in the same type of home. But don’t worry if you’re not sure when inviting someone as we can check that when they sign up.</p>

    <p class="mw-40rem">Use the share buttons below to inspire more community-based action on home energy!</p>

    <ul class="my-4 list-inline">
        <li class="list-inline-item">
            <span class="btn btn-facebook d-flex align-items-center justify-content-center">
                {% include 'neighbourhood/icons/facebook.html' with classes="me-2" %}
                Facebook
            </span>
        </li>
        <li class="list-inline-item">
            <span class="btn btn-whatsapp d-flex align-items-center justify-content-center">
                {% include 'neighbourhood/icons/whatsapp.html' with classes="me-2" %}
                WhatsApp
            </span>
        </li>
        <li class="list-inline-item">
            <span class="btn btn-gmail text-white d-flex align-items-center justify-content-center">
                {% include 'neighbourhood/icons/gmail.html' with classes="me-2" %}
                Gmail
            </span>
        </li>
        <li class="list-inline-item">
            <span class="btn btn-secondary d-flex align-items-center justify-content-center">
                {% include 'neighbourhood/icons/link.html' with classes="me-2" %}
                Copy invite link
            </span>
        </li>
    </ul>

    <p>Or print out, display, and share our exclusive designer posters and flyers:</p>

    <p class="my-4">
        <span class="btn btn-secondary">Download goodies</span>
    </p>

    <h3 class="h5 mt-5 mb-4">TIPS: Not sure who to invite?</h3>

    <ul>
        <li>Try sharing in your neighbourhood WhatsApp or Nextdoor group</li>
        <li>Or maybe with your friends from the gym</li>
        <li>You could even <a href="#">ask your local councillor</a> for help</li>
    </ul>
</div>
