// Color system

$white: #FFFFFF;
$gray-100: #FAF8ED;
$gray-200: #F5F2E0;
$gray-300: #F0EACA;
$gray-400: #EAE2B7;
$gray-500: #C7BF98;
$gray-600: #9B967D;
$gray-700: #455658;
$gray-800: #003049;
$gray-900: #002233;
$black: #000000;

$blue: #1D70B8;
$red: #D62828;
$orange: #F77F00;
$yellow: #FCBF49;

$primary: $yellow;
$secondary: $orange;

// Options

$enable-shadows: true;
$enable-negative-margins: true;

// Gradient

// Spacing

// Position

// Body

// Utilities maps

// Links

$link-color: $blue;

// Paragraphs

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Grid columns

// Container padding

// Components

// Typography

$headings-font-weight: 800;

// Tables

// Buttons + Forms

// Buttons

$btn-font-weight: bold;

// Forms

$form-label-font-weight: bold;

// Form validation

// Z-index master list

// Navs

// Navbar

// Dropdowns

// Pagination

// Placeholders

// Cards

// Accordion

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Offcanvas

// Code
