{% extends "neighbourhood/base.html" %}

{% load static django_bootstrap5 %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">

        <h1 class="mb-4">Sign in</h1>

      {% if email_sent %}

        <p>We’ve sent you an email with a sign in link.</p>
    
      {% else %}

        <p>Enter your email address and we’ll send a magic link to sign you in.</p>

        <form method="post" action="{% url 'login_link' %}" class="my-5 mw-30rem">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Request sign in link</button>
        </form>

        <a href="{% url 'login' %}">Sign in with password instead?</a>

      {% endif %}

    </div>
</div>

{% endblock %}
