{% if request.session.user_latlon or request.session.user_postcode %}
<div class="bg-gray-100 border-top py-3">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-3">
            <p class="mb-0">You told us your postcode is <strong>{{ request.session.user_postcode }}</strong></p>
            <a href="{% url 'forget_postcode' %}" class="btn btn-xs btn-secondary">Forget me</a>
        </div>
    </div>
</div>
{% endif %}

<div class="py-5 site-footer">
    <div class="container">
        <div class="d-md-flex align-items-center">
            <a href="{% url 'home' %}">
                {% include "neighbourhood/includes/logo.html" with classes="d-block" width="330" height="30" %}
            </a>
            <ul class="nav mt-3 mt-md-0 ms-md-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'privacy' %}">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/mysociety/neighbourhood-warmth/">Source code</a>
                </li>
            </ul>
        </div>
    </div>
</div>
