<div class="mw-40rem">
    <h2>Home energy can be complicated, especially if you’re trying to figure it out&nbsp;alone</h2>

    <p>Insulation, heat pumps, solar panels, draughtproofing… Not all measures are suitable for all houses in all situations.</p>

    <p>But things are easier when we work them out together. That’s why Neighbourhood Warmth helps people to form teams around shared home energy challenges, such as these:</p>

    <p><a href="https://www.youtube.com/watch?v=sqGBP-7l0tk">Retrofit stories: Lorenza &amp; Paul</a></p>

    <p>Working together can also unlock other benefits, like group buying discounts, reduced disruption, and government funding.</p>

    <div class="mt-5 d-flex align-items-end">
        <p class="fs-5 fs-sm-4 lh-sm mb-0 bg-orange-100 p-3 p-sm-4 rounded-4" style="border-bottom-right-radius: 0 !important">“We signed up to thermal imaging scans, and now I understand much more about how my home works.”</p>
        <div class="rounded-circle bg-gray-500 ms-3" style="flex: 0 0 auto; width: 4rem; height: 4rem;"></div>
    </div>

    <div class="mt-4 d-flex align-items-end">
        <p class="fs-5 fs-sm-4 lh-sm mb-0 bg-teal-100 p-3 p-sm-4 rounded-4 order-1" style="border-bottom-left-radius: 0 !important">“It was great to get impartial, fact-based advice on the improvements we could make to our homes, so we could compare next steps, together.”</p>
        <div class="rounded-circle bg-gray-500 me-3" style="flex: 0 0 auto; width: 4rem; height: 4rem;"></div>
    </div>
</div>
