<div class="bg-dark text-light py-3 fs-7">
    <div class="container">
        <div class="d-sm-flex">
            <strong class="d-block mb-2 mb-sm-0 me-sm-3">ALPHA</strong>
            <p class="mb-0">This is a pre-release preview of a service under active development. <a href="https://www.mysociety.org/tag/neighbourhood-warmth/" class="text-white">Read more about our plans for this service.</a></p>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-white border-bottom py-md-4">
    <div class="container">
        <a class="navbar-brand me-auto" href="{% url 'home' %}" aria-label="Neighbourhood Warmth">
            {% include "neighbourhood/includes/logo.html" with classes="d-block text-red-500" %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% include "neighbourhood/includes/nav_item.html" with view_name="home" link_text="Join your neighbourhood" %}
                {% include "neighbourhood/includes/nav_item.html" with view_name="about" link_text="About" %}
              {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.avatar_url|escape }}" width="32" height="32" class="rounded-circle bg-primary" alt="{{ request.user.full_name }}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><h6 class="dropdown-header">Signed in as</h6></li>
                        <!-- TODO: Make this a link, once we have profile pages -->
                        <li><span class="dropdown-item-text">{{ request.user.full_name }}</span></li>
                      {% if request.user.teams.all %}
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Your team{{ request.user.teams.all|pluralize }}</h6></li>
                        {% for team in request.user.teams.all %}
                          <li><a class="dropdown-item" href="{% url 'team' team.slug %}">{{ team.name }}</a></li>
                        {% endfor %}
                      {% endif %}
                      {% if request.user.is_superuser %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'impersonate-list' %}?next={{ request.get_full_path }}">Switch user…</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Django admin</a></li>
                      {% endif %}
                      {% if request.impersonator %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'impersonate-stop' %}?next={{ request.get_full_path }}">Switch back to {{ request.impersonator.full_name }}</a></li>
                        <li><a class="dropdown-item" href="{% url 'impersonate-stop' %}?next={% url 'impersonate-list' %}{{ "?next="|urlencode }}{{ request.get_full_path|urlencode }}">Switch to another user…</a></li>
                      {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </li>
              {% else %}
                {% include "neighbourhood/includes/nav_item.html" with view_name="login_link" link_text="Sign in" %}
              {% endif %}
            </ul>
        </div>
    </div>
</nav>
