{% extends "neighbourhood/base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="d-flex align-items-center justify-content-center border-bottom" style="min-height: 10rem; background-image: url('{% static 'img/map.svg' %}'); background-size: cover;">
    {% include 'neighbourhood/icons/pin.html' with width="3rem" height="auto" classes="text-danger" %}
</div>

<div class="py-4 py-lg-5 site-content">
    <div class="container">

        <a class="d-block mb-3 fw-bold text-muted" href="{% url 'team' team.slug %}">{{ team.name }}</a>
        <h1 class="mb-5">Confirm new members</h1>

        <form method="post" action="">
            {% csrf_token %}
            {{ form.management_form }}

            {% for user_form in form %}
                {% if forloop.first %}
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                {% endif %}
                    <tr>
                        <td>
                            {{ user_form.instance.user.full_name }}
                            {% bootstrap_field user_form.id %}
                        </td>
                        <td>
                            {% bootstrap_field user_form.confirmed %}
                        </td>
                        <td>
                            {% bootstrap_field user_form.rejected %}
                        </td>
                        <td>
                            {% bootstrap_field user_form.is_admin %}
                        </td>
                    </tr>
                {% if forloop.last %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Update team members</button>
                {% endif %}
            {% empty %}

            <p class="p-4 rounded bg-gray-100 mw-40rem text-center">
                No users to confirm
            </p>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}
