{% extends "neighbourhood/base.html" %}

{% block body_classes %}bg-gray-100{% endblock %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <h1 class="mb-5">Choose your street</h1>

        {% include 'neighbourhood/includes/postcode_search_form.html' %}

      {% for street in streets %}
        <a href="{% url 'street' street.slug %}" class="h2 p-3 p-md-4 bg-white rounded d-block mb-3 mb-md-4">{{ street.name }}</a>
      {% endfor %}
    </div>
</div>

{% endblock %}
