{% extends "neighbourhood/base.html" %}

{% block body_classes %}bg-gray-100{% endblock %}

{% block content %}

<div class="py-4 py-lg-5 border-bottom">
    <div class="container">
        <h1 class="mb-5 display-2">
            We’re connecting
            <span class="d-block position-relative">neighbours to</span>
            <span class="mark" data-typewriter='["stay warm", "save energy", "save money", "improve health", "save the planet"]'>stay warm</span>
        </h1>

        <!-- 

            Three priorities: 1) understand the house, 2) reduce energy use, 3) decarbonise energy supply

            Why understand the house together? – 1) small cost savings out of efficiency of multiple surveys in one go, 2) discussing and understanding the surveys together, with people in houses like yours, 3) potential future group buying discounts on retrofit actions/supplies

            Can we evidence why it’s better to not go alone?

        -->

        <h2 class="h4 mb-3">Find out what’s going on in your area</h2>
        {% include 'neighbourhood/includes/postcode_search_form.html' with default='' %}
    </div>
</div>

<div class="py-4 py-lg-5 bg-white border-bottom">
    <div class="container">
        {% include 'neighbourhood/includes/generic_promo.html' %}
    </div>
</div>

<div class="py-4 py-lg-5 bg-white border-bottom">
    <div class="container">
        <div class="mw-40rem">
            <h2>It starts with understanding your&nbsp;home</h2>

            <p>Whether it’s a whole house assessment, thermal imaging, or something else – knowing more about your home and how you use it will help you make an informed decision on the right way forward for you and your household.</p>

            <p>Neighbourhood Warmth guides you through the process via a series of simple steps, with personalised advice. By the end of the process, you’ll have a clearer idea of:</p>

            <ul>
                <li>the home energy improvements you could make</li>
                <li>the ways to prioritise and plan them</li>
                <li>how long they typically take</li>
                <li>and what they might cost</li>
            </ul>

            <p>See for example: <a href="https://www.youtube.com/watch?v=gS2Iq-7ZAsM">CSE Bristol Retrofit Stories 1950 detached</a></p>

            <h2 class="h4 mt-5 mb-3">Find or start a team in your area</h2>
            {% include 'neighbourhood/includes/postcode_search_form.html' with default='' %}
        </div>
    </div>
</div>

{% endblock %}
