{% extends "neighbourhood/base.html" %}

{% load django_bootstrap5 %}

{% block body_classes %}bg-gray-100{% endblock %}

{% block content %}

<div class="py-4 py-lg-5 site-content">
    <div class="container">

        <div style="max-width: 30em">

            <h1 class="mb-4">Join {{ team.name }}</h1>

            <p class="mb-4">Once the team’s organiser has approved your request to join the team, you’ll be able to see the progress this team has made already, and access step-by-step guidance to join them on their journey.</p>

            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-4">
                    {% bootstrap_field form.name %}
                </div>

                <div class="mb-4">
                    {% bootstrap_field form.email %}
                </div>

                <p>
                    <button type="submit" class="btn btn-lg btn-primary">Request to join team</button>
                </p>
            </form>

        </div>

    </div>
</div>

{% endblock %}
