{% extends "neighbourhood/base.html" %}

{% load django_bootstrap5 %}

{% block body_classes %}bg-gray-100{% endblock %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">

        <div style="max-width: 30em">

            <h1 class="mb-4">Join team {{ team.name }}</h1>

            <form method="POST" action="">
                {% csrf_token %}
                <h2>Your personal account</h2>

                <div class="mb-4">
                    {% bootstrap_field form.name %}
                </div>

                <div class="mb-4">
                    {% bootstrap_field form.email %}
                </div>

                <p>
                    <button type="submit" class="btn btn-lg btn-primary">Request to join team</button>
                </p>
            </form>

        </div>

    </div>
</div>

{% endblock %}
