{% extends "neighbourhood/base.html" %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <div class="mw-40rem">
            <h1 class="mb-5">Privacy policy</h1>

            <h2 class="mt-5" id="who">Who is responsible for this service</h2>

            <p>Neighbourhood Warmth is run by <a href="https://www.mysociety.org">mySociety</a>.</p>

            <p>mySociety (registered charity 1076346)  is the data controller of all the information described in this privacy policy, and a joint data processor of the personal data described in this privacy policy.
            <a href="https://darkmatterlabs.org/">Dark Matter Labs</a> (company number 13294211) is a strategic discovery, design and development lab with which mySociety has partnered on Neighbourhood Warmth, and is the other joint data processor of the personal data described in this privacy policy.</p>

            <p>mySociety’s registered office is 483 Green Lanes, London, N13 4BS United Kingdom.</p>

            <p>Dark Matter Labs is a company registered at 217 Mare Street London, E8 3QE United Kingdom.</p>

            <h2 class="mt-5" id="collecting">What personal data we collect and how we use it</h2>
            
            <p>This privacy policy covers data collected on and by Neighbourhood Warmth, during its initial Alpha period, running over June–August 2023.</p>

            <h3>Information about you</h3>

            <p><strong>If you use the site without logging in</strong>, we collect and log some information about your visit, in order to analyse and fix problems with the site. Our web server logs collect information about requests, including your IP address, data submitted (which might include your email address when you log on to the site), request date and time, page requested, browser version and referrer. We routinely keep this information for 28 days. Note that in normal circumstances, this data is infrequently accessed by a human, and when it is, they are likely to be assessing it in bulk, in order to understand an issue with the site, rather than at a granular level of individual users.</p>

            <p><strong>If you log into a personal account on the site</strong>, we store your full name, email address and home address so that we can display nearby teams, and so that team members can recognise each other and see details of their teams’ progress. We may also use this email address to send you occasional important messages about the service, or your account on it. When you log in, your email address may also be stored in our webserver logs for up to 28 days, as mentioned above. We store a cookie on your device, to keep you logged in over subsequent page loads and visits.</p>

            <h2 class="mt-5" id="legal-basis">Legal basis for processing</h2>
            
            <p>When you use the site without logging in, the data in our webserver logs is collected under the legal basis GDPR 6(1)(f) Legitimate Interests. Collection of this data is necessary in order to ensure the smooth running and delivery of the website.</p>

            <p>When you request a personal account on the site, you are consenting to the processes as described on this page. The legal basis is GDPR 6(1)(a) Consent of the data subject.</p>

            <h2 class="mt-5" id="retention">How long we keep your data</h2>

            <p>Data in the server logs will be retained for 28 days.</p>

            <p>Data submitted when creating an account on the site will be kept until the end of our current Alpha period, on 31st August 2023.</p>

            <h2 class="mt-5" id="sharing">Who we share your data with</h2>

            <p>The data we collect is accessible only by the two non-profit organisations running the site—mySociety and Dark Matter Labs—and will only be used for the specific purpose of running Neighbourhood Warmth during this initial Alpha period. We don’t share this personal data with any other charity, public body, or commercial organisation, unless you give us permission to do so, or we have to do so for legal or compliance reasons.</p>

            <h2 class="mt-5" id="access">Your right to access</h2>

            <p>You may contact us at any time to ask to see what personal data we hold about you. Please <a href="https://www.mysociety.org/contact">contact us</a> to request this.</p>

            <h2 class="mt-5" id="erasure">Your right to erasure</h2>

            <p>You may request that we destroy the personal data that we hold about you. Please <a href="https://www.mysociety.org/contact">contact us</a> to request this.</p>

            <h2 class="mt-5" id="complain">Your right to complain</h2>

            <p>If you believe that we have mishandled your data, you have the right to lodge a complaint with the Information Commissioner’s Office. You can report a concern here (but do <a href="https://www.mysociety.org/contact">contact us</a> first, so that we can try and help).</p>

        </div>
    </div>
</div>

{% endblock %}
