{% extends "neighbourhood/base.html" %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <div class="mw-40rem">
            <h1 class="mb-5">Privacy policy</h1>

            <h2 class="mt-5" id="who">Who is responsible for this service</h2>

            <p>Neighbourhood Warmth is run by <a href="https://www.mysociety.org">mySociety</a> (registered charity 1076346).</p>

            <p>mySociety’s registered office is 483 Green Lanes, London, N13 4BS United Kingdom.</p>

            <h2 class="mt-5" id="collecting">What personal data we collect and how we use it</h2>

            <p>This privacy policy covers data collected on and by the <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}">Neighbourhood Warmth</a> website.</p>

            <h3 class="mt-4">Information about you</h3>

            <p><strong>If you use the site without logging in</strong>, we collect and log some information about your visit, in order to analyse and fix problems with the site. Our web server logs collect information about requests, including your IP address, data submitted (which might include your email address when you log on to the site), request date and time, page requested, browser version and referrer. We routinely keep this information for 28 days. Note that in normal circumstances, this data is infrequently accessed by a human, and when it is, they are likely to be assessing it in bulk, in order to understand an issue with the site, rather than at a granular level of individual users.</p>

            <p><strong>If you search for your postcode on the site</strong>, that postcode is stored on our web server for up to {{ session_cookie_age_string }} after your last visit, and associated with a cookie on your device, so that the site can find and remember that postcode for you, as you navigate between different pages on the site.</p>

            <p><strong>If you create a personal account on the site</strong>, we store your full name and email address so that you can log in and contribute to your team’s progress. We may also use this email address to send you occasional important messages about the service, or your account on it. When you log in, your email address may also be stored in our webserver logs for up to 28 days, as mentioned above. We store a cookie on your device, to keep you logged in over subsequent page loads and visits.</p>

            <h2 class="mt-5" id="legal-basis">Legal basis for processing</h2>
            
            <p><strong>When you use the site without logging in</strong>, the data in our webserver logs is collected under the legal basis GDPR 6(1)(f) Legitimate Interests. Collection of this data is necessary in order to ensure the smooth running and delivery of the website.</p>

            <p><strong>When we store your postcode in your session</strong>, we do so under the legal basis GDPR 6(1)(f) Legitimate Interests, as it is necessary in order to display your location on different pages as you navigate around the site.</p>

            <p><strong>When you request a personal account on the site</strong>, you are consenting to the processes as described on this page. The legal basis is GDPR 6(1)(a) Consent of the data subject. You can withdraw this consent at any time by <a href="#erasure">deleting your account</a>.</p>

            <h2 class="mt-5" id="retention">How long we keep your data</h2>

            <p><strong>When you use the site</strong>, the data in our server logs (see above) will be retained for 28 days.</p>

            <p><strong>When you search for your postcode on the site</strong>, your postcode is saved in our database for {{ session_cookie_age_string }}, or until you tell the site to “Forget” it (see below).</p>

            <p><strong>When you create an account</strong>, that data is kept until you remove—or ask us to remove—your account (see below).</p>

            <h2 class="mt-5" id="sharing">Who we share your data with</h2>

            <p><strong>When you join a team on the site</strong> we may share your name and email address with the team’s organiser, in order for them to contact you about the team’s progress. The team organiser might be a neighbour of yours, or a local organisation who are supporting home energy action in your area. They are not allowed to use your information to sell you any services, or pass your information on to any third parties, without seeking your consent.</p>

            <p>Aside from that, we don’t share your personal data with any other charity, public body, or commercial organisation, unless you give us permission to do so, or we have to do so for legal or compliance reasons.</p>

            <h2 class="mt-5" id="access">Your right to access</h2>

            <p>You may contact us at any time to ask to see what personal data we hold about you. Please <a href="https://www.mysociety.org/contact">contact us</a> to request this.</p>

            <h2 class="mt-5" id="erasure">Your right to erasure</h2>

            <p><strong>If you have an account on the site</strong> you can <a href="{% url 'my_account' %}">delete it via your account page</a>.</p>

            <p><strong>If you search for your postcode on the site</strong>, but no longer want it to remember that postcode, you can remove this data by pressing the “Forget” button next to your postcode, at the bottom of any page on the site.</p>

            <p>You can also <a href="https://www.mysociety.org/contact">contact us</a> to request that we destroy any personal data that we hold about you.</p>

            <h2 class="mt-5" id="complain">Your right to complain</h2>

            <p>If you believe that we have mishandled your data, you have the right to lodge a complaint with the Information Commissioner’s Office. You can report a concern here (but do <a href="https://www.mysociety.org/contact">contact us</a> first, so that we can try and help).</p>

        </div>
    </div>
</div>

{% endblock %}
