{% extends "neighbourhood/base.html" %}
{% load static %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <h1>See demand in an area</h1>

        <form method="POST" class="mb-5">
            {% csrf_token %}
            <label class="form-label" for="postcode">Postcode</label>
            <div class="d-flex">
                <input class="form-control form-control-lg text-uppercase{% if error %} is-invalid{% endif %}" type="text" id="postcode" name="pc" style="max-width: 10em;" value="{{ form.pc.value|default_if_none:""|upper }}">
              {% if error %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endif %}
                <button type="submit" class="btn btn-lg btn-primary ms-3">Find council</a>
            </div>
        </form>

      {% if matching_areas %}
        <p>Multiple councils matched that postcode:</p>
        <ul>
          {% for area in matching_areas %}
            <li><a href="{% url 'area' area.codes.gss %}">{{ area.name }}</a></li>
          {% endfor %}
        </ul>
      {% elif form.pc.value %}
        <p>No councils matched that postcode.</p>
      {% endif %}
    </div>

</div>

{% endblock %}
area
