{% extends "neighbourhood/base.html" %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <h1 class="mb-2">{{ street.name }}</h1>
        <p class="h5 text-muted mb-5">{{ street.area }}</p>

        <p>{{ street.members_count }} member{{ street.members_count|pluralize }}</p>

        <!-- 

            what’s happening near here - other streets with activity? action groups? retrofit orgs?

            this street’s path to success: 1) understand your homes, 2) reduce energy use, 3) decarbonise energy supply

        -->

        <a href="{% url 'street_join' street.slug %}">Join this street</a>
    </div>
</div>

{% endblock %}
