{% extends "neighbourhood/base.html" %}

{% load static %}

{% block content %}

{% if is_team_member %}
<div class="bg-gray-200 text-gray-700 border-bottom">
    <div class="container d-md-flex align-items-center justify-content-between">
        <div class="fs-7 py-3 d-flex align-items-center">
            {% include 'neighbourhood/icons/fa-lightbulb-solid.html' with classes='flex-grow-0 me-3' %}
            You are {% if is_team_admin %}an admin for{% else %}a member of{% endif %} this team
        </div>
        <ul class="nav nav-tabs flex-nowrap pt-md-3" style="position: relative; bottom: -1px;">
            <li class="nav-item">
                <a class="nav-link" href="#public" data-bs-toggle="collapse" data-bs-target=".team-page-section" role="button" aria-expanded="false" aria-controls="public">Public page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#private" data-bs-toggle="collapse" data-bs-target=".team-page-section" role="button" aria-expanded="true" aria-controls="private">Team member page</a>
            </li>
        </ul>
    </div>
</div>
{% endif %}

<div id="public" class="team-page-section {% if is_team_member %}collapse no-transition{% endif %}">
    {% include 'neighbourhood/team_public.html' %}
</div>

{% if is_team_member %}
<div id="private" class="team-page-section collapse no-transition show">
    {% include 'neighbourhood/team_private.html' %}
</div>
{% endif %}

<div class="modal fade" tabindex="-1" id="postcodeModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg bg-gray-100">
            <div class="modal-body d-flex justify-content-center p-4 p-lg-5">
                <button type="button" class="btn-close p-4 position-absolute top-0" style="right: 0;" data-bs-dismiss="modal" aria-label="Close"></button>
                {% include 'neighbourhood/includes/postcode_search_form.html' with action="." method="post" default=postcode error=postcode_error %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="shareModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg bg-gray-100">
            <div class="modal-body p-4 p-lg-5">
                <button type="button" class="btn-close p-4 position-absolute top-0" style="right: 0;" data-bs-dismiss="modal" aria-label="Close"></button>
                <h2 class="h3">Share this page</h2>
                <textarea class="form-control mb-3" readonly style="resize: none; height: 4em;" onclick="this.select()">{{ request.build_absolute_uri }}</textarea>
                <button class="btn btn-primary d-flex align-items-center justify-content-center gap-2 w-100" data-copy-text="{{ request.build_absolute_uri }}" data-copy-success="Copied!">
                    {% include 'neighbourhood/icons/link.html' %}
                    <span data-copy-feedback>Copy link</span>
                </button>
                <div style="grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));grid-gap: 1rem;" class="d-grid mt-4 pt-4 border-top">
                    <a class="btn btn-facebook text-white d-flex align-items-center justify-content-center gap-2" href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}" target="_blank">
                    {% include 'neighbourhood/icons/facebook.html' %}
                    Facebook
                    </a>
                    <a class="btn btn-twitter d-flex align-items-center justify-content-center gap-2" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/x.html' %}
                        X (Twitter)
                    </a>
                    <a class="btn btn-threads d-flex align-items-center justify-content-center gap-2" href="https://threads.net/intent/post?text={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/threads.html' %}
                        Threads
                    </a>
                    <a class="btn btn-linkedin d-flex align-items-center justify-content-center gap-2" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/linkedin.html' %}
                        LinkedIn
                    </a>
                    <a class="btn btn-whatsapp text-white d-flex align-items-center justify-content-center gap-2" href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/whatsapp.html' %}
                        WhatsApp
                    </a>
                    <a class="btn btn-gmail text-white d-flex align-items-center justify-content-center gap-2 w-100" href="https://mail.google.com/mail/?view=cm&amp;su={{ 'Join my team on Neighbourhood Warmth'|urlencode }}&amp;body={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/gmail.html' %}
                        Gmail
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block extrajs %}
    <script>
        window.team_latlon = [{{ team.centroid.y }},{{ team.centroid.x }}];
      {% if team.boundary_geojson %}
        window.team_boundary_geojson = {{ team.boundary_geojson|safe }};
      {% endif %}
      {% if request.session.user_latlon %}
        window.user_latlon = [{{ request.session.user_latlon|join:"," }}];
      {% endif %}
    </script>
    <script type="module" src="{% static 'js/map.js' %}"></script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'leaflet/leaflet-1.8.0.scss' %}">
{% endblock %}
