{% load static %}

<div class="container py-4 py-lg-5 {% if request.GET.congrats %}js-confetti{% endif %}">

    <div class="row">
        <div class="col-sm-6 col-md-5 mb-3 mb-sm-0">
            <h1 class="mb-2">{{ team.name }}</h1>
            <p class="text-muted">A Neighbourhood Warmth team in {{ team.vicinity }}</p>

            <div class="my-4 d-flex align-items-center">
              {% for member in team.confirmed_members.all %}
                <img src="{{ member.avatar_url|escape }}" width="32" height="32" class="rounded-circle bg-primary me-n2" alt="" role="presentation" style="border: 2px solid #fff;">
              {% endfor %}
                <p class="h5 lh-sm mb-0 ms-3">{{ team.confirmed_members|length }} {{ team.confirmed_members|pluralize:"member,members" }}</p>
            </div>

            <div>
                <a href="#" class="btn btn-outline-dark btn-lg w-100">Share this team</a>
            </div>

        </div>
        <div class="col-sm-5 col-md-6 ms-auto d-flex flex-column">
            <div class="flex-grow-1 d-flex align-items-center justify-content-center rounded border" style="min-height: 10rem; background-image: url('{% static 'img/map.svg' %}'); background-size: cover;">
                {% include 'neighbourhood/icons/pin.html' with width="3rem" height="auto" classes="text-danger" %}
            </div>
        </div>
    </div>

    <hr class="my-4 my-lg-5">

    <div class="row justify-content-between">
        <div class="col-md-4 col-lg-3">

            <h2 class="h4 mb-4">Team progress</h2>
            <ul class="list-group mb-5">
                <li class="list-group-item py-3 lh-sm d-flex align-items-center text-decoration-line-through text-success">
                    {% include 'neighbourhood/icons/fa-check-solid.html' with classes='me-2' %}
                    Create team
                </li>
              {% if 'recruiting' in team.status %}
                <li class="list-group-item py-3 lh-sm d-flex align-items-center text-decoration-line-through text-success">
                    {% include 'neighbourhood/icons/fa-check-solid.html' with classes='me-2' %}
                    Find second member
                </li>
                <li class="list-group-item py-3 lh-sm d-flex align-items-center text-decoration-line-through text-success">
                    {% include 'neighbourhood/icons/fa-check-solid.html' with classes='me-2' %}
                    Research local retrofit options
                </li>
                <li class="list-group-item py-3 lh-sm d-flex align-items-center text-decoration-line-through text-success">
                    {% include 'neighbourhood/icons/fa-check-solid.html' with classes='me-2' %}
                    Choose an assessment type
                </li>
              {% elif 'researching' in team.status %}
                <li class="list-group-item py-3 lh-sm d-flex align-items-center text-decoration-line-through text-success">
                    {% include 'neighbourhood/icons/fa-check-solid.html' with classes='me-2' %}
                    Find second member
                </li>
                <li class="list-group-item py-3 lh-sm d-flex align-items-center">
                    <span class="me-2" style="width: 1em;"></span>
                    Research local retrofit options
                </li>
                <li class="list-group-item py-3 lh-sm d-flex align-items-center">
                    <span class="me-2" style="width: 1em;"></span>
                    Choose an assessment type
                </li>
              {% else %}
                <li class="list-group-item py-3 lh-sm d-flex align-items-center">
                    <span class="me-2" style="width: 1em;"></span>
                    Find second member
                </li>
                <li class="list-group-item py-3 lh-sm d-flex align-items-center">
                    <span class="me-2" style="width: 1em;"></span>
                    Research local retrofit options
                </li>
                <li class="list-group-item py-3 lh-sm d-flex align-items-center">
                    <span class="me-2" style="width: 1em;"></span>
                    Choose an assessment type
                </li>
              {% endif %}
                <li class="list-group-item py-3 lh-sm d-flex align-items-center">
                    <span class="me-2" style="width: 1em;"></span>
                    Invite neighbours to join
                </li>
                <li class="list-group-item py-3 lh-sm d-flex align-items-center">
                    <span class="me-2" style="width: 1em;"></span>
                    Carry out assessments
                </li>
                <li class="list-group-item py-3 lh-sm d-flex align-items-center">
                    <span class="me-2" style="width: 1em;"></span>
                    Discuss next steps
                </li>
            </ul>

        </div>
        <div class="col-md-8 col-lg-9 ps-lg-5">

            <h2 class="h4 mb-4">Current challenge</h2>

            <div class="mb-5 p-4 p-md-5 border rounded shadow-lg">
                <!-- TODO: Customise the current/next step based on member_count etc -->
                <h2 class="h4 mb-3 mw-40rem">Recruit at least one more team member from your neighbourhood</h2>
    
                <p class="mw-40rem">It takes two to tango! Remember, team members should live in the same type of home. But don’t worry if you’re not sure when inviting someone as we can check that when they sign up.</p>
    
                <p class="mw-40rem">Use the share buttons below to inspire more community-based action on home energy!</p>
    
                <ul class="my-4 list-inline">
                    <li class="list-inline-item">
                        <span class="btn btn-facebook d-flex align-items-center justify-content-center">
                            {% include 'neighbourhood/icons/facebook.html' with classes="me-2" %}
                            Facebook
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="btn btn-whatsapp d-flex align-items-center justify-content-center">
                            {% include 'neighbourhood/icons/whatsapp.html' with classes="me-2" %}
                            WhatsApp
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="btn btn-gmail text-white d-flex align-items-center justify-content-center">
                            {% include 'neighbourhood/icons/gmail.html' with classes="me-2" %}
                            Gmail
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="btn btn-secondary d-flex align-items-center justify-content-center">
                            {% include 'neighbourhood/icons/link.html' with classes="me-2" %}
                            Copy invite link
                        </span>
                    </li>
                </ul>
    
                <p>Or print out, display, and share our exclusive designer posters and flyers:</p>
    
                <p class="my-4">
                    <span class="btn btn-secondary">Download goodies</span>
                </p>
    
                <h3 class="h5 mt-5 mb-4">TIPS: Not sure who to invite?</h3>
    
                <ul>
                    <li>Try sharing in your neighbourhood WhatsApp or Nextdoor group</li>
                    <li>Or maybe with your friends from the gym</li>
                    <li>You could even <a href="#">ask your local councillor</a> for help</li>
                </ul>
            </div>
        
          {% if is_team_admin %}
            <div class="mb-5 border rounded overflow-hidden">
                <div class="px-5 py-3 fs-7 text-red-700 bg-red-100 rounded-top d-flex align-items-center">
                    {% include 'neighbourhood/icons/fa-lightbulb-solid.html' with classes='flex-grow-0 me-3' %}
                    Only team admins can see this
                </div>
                <div class="p-4 p-md-5">

                  {% if applicant_count %}
                    <h3 class="h5 mb-4 mw-40rem">Approve or reject team join requests</h3>

                    <p class="mw-40rem">You have {{ applicant_count }} pending request{{ applicant_count|pluralize }} from {{ applicant_count|pluralize:"a person,people"}} wanting to join your team.</p>

                    <p><a href="{% url 'confirm_join_team' team.slug %}" class="btn btn-primary">Review join requests</a></p>

                    <hr class="my-5">
                  {% endif %}

                    <h3 class="h5 mb-4 mw-40rem">Your group is open to join requests</h3>
        
                    <p class="mw-40rem">At any time you can change your team status setting to be either:</p>
        
                    <div class="mt-4">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="state" id="open" checked>
                            <label class="form-check-label" for="open">
                                <strong>Open</strong> – allows anyone to send your team a new member request
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="state" id="closed">
                            <label class="form-check-label" for="closed">
                                <strong>Closed</strong> – blocks new member requests, but allows you to send private invitations
                            </label>
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}

        </div>
    </div>

</div>
