{% extends "neighbourhood/base.html" %}

{% load static %}

{% block content %}

{% if is_team_member %}
<div class="bg-gray-200 text-gray-700 border-bottom">
    <div class="container d-md-flex align-items-center justify-content-between">
        <div class="fs-7 py-3 d-flex align-items-center">
            {% include 'neighbourhood/icons/fa-lightbulb-solid.html' with classes='flex-grow-0 me-3' %}
            You are {% if is_team_admin %}an admin for{% else %}a member of{% endif %} this team
        </div>
        <ul class="nav nav-tabs flex-nowrap pt-md-3" style="position: relative; bottom: -1px;">
            <li class="nav-item">
                <a class="nav-link" href="#public" data-bs-toggle="collapse" data-bs-target=".team-page-section" role="button" aria-expanded="false" aria-controls="public">Public page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#private" data-bs-toggle="collapse" data-bs-target=".team-page-section" role="button" aria-expanded="true" aria-controls="private">Team member page</a>
            </li>
        </ul>
    </div>
</div>
{% endif %}

<div id="public" class="team-page-section {% if is_team_member %}collapse no-transition{% endif %}">
    {% include 'neighbourhood/team_public.html' %}
</div>

{% if is_team_member %}
<div id="private" class="team-page-section collapse no-transition show">
    {% include 'neighbourhood/team_private.html' %}
</div>

{% endif %}

<div class="bg-gray-200 py-5 border-top fs-7">
    <div class="container">
        <h2 class="h6">Temporary prototype links</h2>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'email_preview' 'welcome' %}?team={{ team.slug|urlencode }}">Preview email #1: Welcome</a></li>
            <li class="list-inline-item"><a href="{% url 'email_preview' 'joined' %}?team={{ team.slug|urlencode }}">Preview email #2: Neighbour joined</a></li>
        </ul>
    </div>
</div>

{% endblock %}
