{% load static %}
{% load boring_avatars %}

<div class="container py-4 py-lg-5">
    <div class="row">
        <div class="col-sm-6 col-md-5 mb-3 mb-sm-0">
            <h1 class="mb-2">{{ team.name }}</h1>
            <p class="text-muted">A Neighbourhood Warmth team in {{ team.vicinity }}</p>

            <div class="my-4 d-flex align-items-center">
              {% for member in team.confirmed_members.all %}
                {% boring_avatar name=member.email width="32" height="32" class="rounded-circle bg-primary me-n2" alt="" role="presentation" style="border: 2px solid #fff;" %}
              {% endfor %}
                <p class="h4 lh-sm mb-0 ms-3">{{ team.confirmed_members|length }} {{ team.confirmed_members|pluralize:"member,members" }}</p>
            </div>

            <p class="h4 mb-5 mw-40rem">Hello! We are currently {{ team.status }}.</p>

            <div class="mb-4">
              {% if is_team_applicant %}
                <p class="fs-7 p-3 bg-gray-200 rounded">You have requested to join this team. One of the team’s organisers should approve or reject your request shortly. We’ll email you when this happens.</p>
              {% elif is_team_member %}
                <a href="#" class="btn btn-secondary btn-lg w-100 disabled">You are already in this team</a>
              {% elif team.boundary_geojson and not request.session.user_latlon %}
                <button type="button" class="btn btn-primary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#postcodeModal">Am I in this team’s area?</a>
              {% else %}
                <a href="{% url 'join_team' team.slug %}" class="btn btn-primary btn-lg w-100">Request to join this team</a>
              {% endif %}
            </div>

            <div>
                <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#shareModal">Share this page</a>
            </div>

        </div>
        <div class="col-sm-5 col-md-6 ms-auto d-flex flex-column">
            <div id="leaflet" class="flex-grow-1 d-flex align-items-center justify-content-center rounded border" style="min-height: 10rem;"></div>
        </div>
    </div>

</div>
<div class="bg-gray-100 border-top border-bottom">
    <div class="container py-4 py-lg-5">

        <h2>This team’s progress so far</h2>

        {% if challenges %}
        <div class="progress mt-4 bg-white" style="box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Team progress" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
        </div>
        <div class="row g-0 mt-2 text-end align-items-start">
            {% for challenge in challenges %}
            <div class="col border-end px-3 pt-3">
              <p class="fw-bold mb-0">{{ challenge.challenge.name }}</p>
              {% if challenge.challenge.short_description %}
              <p class="mb-0 fs-7">{{ challenge.challenge.short_description }}</p>
              {% endif %}
            </div>
            {% endfor %}
        {% else %}
        <div class="progress mt-4 bg-white" style="box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);">
          {% if 'looking' in team.status %}
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Team progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          {% elif 'researching' in team.status %}
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Team progress" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
          {% else %}
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Team progress" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          {% endif %}
        </div>

        <div class="row g-0 mt-2 text-end align-items-start">
            <div class="col-3 border-end px-3 pt-3">
                <p class="fw-bold mb-0">Two to tango</p>
                <p class="mb-0 fs-7">Find first two members</p>
            </div>
            <div class="col-3 border-end px-3 pt-3">
                <p class="fw-bold mb-0">In the know</p>
                <p class="mb-0 fs-7">Research local retrofit options</p>
            </div>
            <div class="col-3 border-end px-3 pt-3">
                <p class="fw-bold mb-0">Strength in numbers</p>
                <p class="mb-0 fs-7">Invite neighbours to join the team</p>
            </div>
            <div class="col-3 border-end px-3 pt-3">
                <p class="fw-bold mb-0">Mission accomplished</p>
                <p class="mb-0 fs-7">Complete retrofit assessments and discuss next steps</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container py-4 py-lg-5">

    {% include 'neighbourhood/includes/generic_promo.html' with testimonials=1 %}

</div>

<div class="modal fade" tabindex="-1" id="postcodeModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg bg-gray-100">
            <div class="modal-body d-flex justify-content-center p-4 p-lg-5">
                <button type="button" class="btn-close p-4 position-absolute top-0" style="right: 0;" data-bs-dismiss="modal" aria-label="Close"></button>
                {% include 'neighbourhood/includes/postcode_search_form.html' with action="." method="post" default=postcode error=postcode_error %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="shareModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg bg-gray-100">
            <div class="modal-body p-4 p-lg-5">
                <button type="button" class="btn-close p-4 position-absolute top-0" style="right: 0;" data-bs-dismiss="modal" aria-label="Close"></button>
                <h2 class="h3">Share this page</h2>
                <textarea class="form-control mb-3" readonly style="resize: none; height: 4em;" onclick="this.select()">{{ request.build_absolute_uri }}</textarea>
                <button class="btn btn-primary d-flex align-items-center justify-content-center gap-2 w-100" data-copy-text="{{ request.build_absolute_uri }}" data-copy-success="Copied!">
                    {% include 'neighbourhood/icons/link.html' %}
                    <span data-copy-feedback>Copy link</span>
                </button>
                <div style="grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));grid-gap: 1rem;" class="d-grid mt-4 pt-4 border-top">
                    <a class="btn btn-facebook text-white d-flex align-items-center justify-content-center gap-2" href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}" target="_blank">
                    {% include 'neighbourhood/icons/facebook.html' %}
                    Facebook
                    </a>
                    <a class="btn btn-twitter d-flex align-items-center justify-content-center gap-2" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/x.html' %}
                        X (Twitter)
                    </a>
                    <a class="btn btn-threads d-flex align-items-center justify-content-center gap-2" href="https://threads.net/intent/post?text={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/threads.html' %}
                        Threads
                    </a>
                    <a class="btn btn-linkedin d-flex align-items-center justify-content-center gap-2" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/linkedin.html' %}
                        LinkedIn
                    </a>
                    <a class="btn btn-whatsapp text-white d-flex align-items-center justify-content-center gap-2" href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/whatsapp.html' %}
                        WhatsApp
                    </a>
                    <a class="btn btn-gmail text-white d-flex align-items-center justify-content-center gap-2 w-100" href="https://mail.google.com/mail/?view=cm&amp;su={{ 'Join my team on Neighbourhood Warmth'|urlencode }}&amp;body={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        {% include 'neighbourhood/icons/gmail.html' %}
                        Gmail
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
