{% extends "neighbourhood/base.html" %}

{% load django_bootstrap5 %}

{% block content %}

<div class="py-4 py-lg-5 site-content">
    <div class="container">

        <h1 class="mb-3">Switch user</h1>

        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'impersonate-list' %}{{redirect}}">List all users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'impersonate-search' %}{{redirect}}">Search users</a>
            </li>
        </ul>

      {% if page.object_list %}
        <table class="table table-hover my-4">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Teams</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              {% for user in page.object_list %}
              {% for mem in user.membership_set.all %}
                <tr>
                  {% if forloop.counter == 1 %}
                    <td rowspan="{{ user.membership_set.all|length }}">{{ user.full_name }}</td>
                    <td rowspan="{{ user.membership_set.all|length }}"><a class="btn btn-secondary btn-xs" href="{% url 'impersonate-start' user.pk %}{{redirect}}">Switch to user</a></td>
                  {% endif %}
                    <td>
                        <a href="{% url 'team' mem.team.slug %}">{{ mem.team.name }}</a>
                      {% if mem.is_admin %}
                        (admin)
                      {% elif mem.rejected %}
                        (rejected)
                      {% elif not mem.confirmed %}
                        (unconfirmed)
                      {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-xs" href="{% url 'impersonate-start' user.pk %}?next={% url 'team' mem.team.slug %}">Switch to team</a>
                    </td>
                </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
        </table>
      {% endif %}

        <div class="d-sm-flex justify-center">
          {% if page.has_previous %}
            <a href="{% url 'impersonate-list' %}?page={{ page.previous_page_number }}" class="me-3">Previous Page</a>
          {% endif %}
          {% if page.has_next %}
            <a href="{% url 'impersonate-list' %}?page={{ page.next_page_number }}">Next Page</a>
          {% endif %}
        </div>

    </div>
</div>

{% endblock %}
